header {
  background: rgb(209, 243, 255);
}
h1 {
  text-align: center;
  color: brown;
}

#jose {
  text-transform: uppercase;
}
#carlos {
  color: red;
}

#xoan {
  color: blue;
}
<<<<<<< HEAD
p #mery {
  background-color: cornflowerblue;
=======

#mery {
  color: cornflowerblue;
>>>>>>> 2d57ae5777396f5828142ea8dc08a105f6d2c59c
}
