:root {
  --color-fondo: rgb(41, 163, 151);
  --color-claro: rgb(64, 244, 208);
  --color-oscuro: rgb(6, 61, 56);
}

html {
  background-color: var(--color-fondo);
}
body {
  text-align: center;
  font-size: large;
}
h1 {
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 5px 5px 10px var(--color-claro);
}
#listaTareas {
  border: 5px solid var(--color-oscuro);
  list-style-type: none;
  background-color: var(--color-claro);
  box-shadow: 10px 10px 10px var(--color-claro);
  position: relative;
  width: 50%;
  left: 25%;
  color: var(--color-oscuro);
}

fieldset {
  width: 50%;
  position: relative;
  left: 25%;
  border-color: var(--color-oscuro);
  border-radius: 12.5px;
  box-shadow: 10px 10px 10px var(--color-claro);
}

ul {
  list-style-type: none;
}

label {
  font-weight: bold;
}

input {
  display: inline;
  margin: 20px auto;
  padding: 0.3rem;
  background-color: var(--color-claro);
  border-color: var(--color-oscuro);
  padding-left: 0.5rem;
}

input:focus,
input:hover {
  background-color: var(--color-oscuro);
  color: var(--color-claro);
}

form {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

select {
  padding: 0.3rem;
  background-color: var(--color-claro);
  border-color: var(--color-oscuro);
  border-radius: 25px;
}

select:hover {
  background-color: var(--color-oscuro);
  color: aquamarine;
}

button {
  padding: 0.3rem;
  background-color: var(--color-claro);
  border-radius: 25px;
}

button:hover {
  background-color: var(--color-oscuro);
  color: var(--color-claro);
}
