header {
  background: rgb(209, 243, 255);
}
h1 {
  text-align: center;
  color: brown;
}

#jose {
  text-transform: uppercase;
}
#carlos {
  color: red;
}

<<<<<<< HEAD
#xoan {
  color: blue;
}
=======
  #mery {
background-color: cornflowerblue;
}
>>>>>>> da58be9a9035d4b169ffd3ba2ab8b4d4cb04a56e
