* {
  font-family: "Bebas Neue", cursiva;
  box-sizing: border-box;
}
#container {
  width: 600px;
  padding: 2%;
  border: 20px solid #000;
  border-radius: 8px;
  background-color: #2e7fea;
  margin: 25px;
  text-align: center;
}

label {
  font-weight: bold;
}

input {
  display: inline-block;
  width: 49%;
  margin: 20px auto;
}

ul {
  width: 500px;
  padding: 2%;
  border: 5px solid #76a3ed;
  border-radius: 10px;
  list-style-type: none;
}

.addTaskButton {
  height: 25px;
  border: 0;
  border-radius: 45%;
  font-size: 18px;
  background-color: rgb(239, 149, 38);
}

/*.killTasks {
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--light);
} // no funciona el botón*/

li {
  width: 300px;
  padding: 2%;
  border: 5px solid #045dee;
  border-radius: 10px;
  list-style-type: none;
}
/*Cuando escribes un nuevo producto y lo añades a la lista se pone en su propio recuadro*/

ul :hover {
  text-decoration: line-through;
}
/*Cuando pasas el raton por encima se tacha, pero no he conseguido que se borre si no es con doble click*/
